/* loggedInNoSub.css */
body {
  font-family: "Poppins", sans-serif;
  background-color: #1d1c1cff;
  color: #a99dfaff;
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 16px;
}

.container {
  margin: auto;
  padding: 20px;
  background-color: #2b292eff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 90%;
  min-width: 350px;
  position: relative;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, #7d7898ff, #a99dfaff);
  animation: gradient 10s ease infinite;
  z-index: -1;
}

@keyframes gradient {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(50%, 50%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

.logo {
  height: 60px;
  margin: 10px auto;
  display: block;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

h1,
p {
  font-weight: 600;
  margin: 10px 0;
  color: #a99dfaff;
}

.subscriber-status {
  color: #7d7898ff;
  margin-bottom: 15px;
}

.not-subscribed {
  color: #ef7064;
}

.subscribe-button {
  background-color: #fca414;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  color: #ffffff;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  text-decoration: none;
}

.subscribe-button:hover {
  background-color: #e89214;
  transform: translateY(-2px);
}

.subscribe-button .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.alreadysubscribed {
  color: #a99dfaff;
  text-decoration: none;
  font-weight: 600;
}

.alreadysubscribed:hover {
  text-decoration: underline;
}

.subscribe-button {
  background-color: #fca414;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  color: #ffffff;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.subscribe-button:hover {
  background-color: #e89214;
  transform: translateY(-2px);
}

.subscribe-button .icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}