body {
  font-family: 'Open Sans', sans-serif;
  background-color: #2f2f2f; /* Dark Grey */
  color: #c1c1c1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust height as needed */
  margin: 0;
}

.container {
  text-align: center;
  padding: 20px; /* Added padding */
  width: 250px; /* Adjust width as needed */
}

.logo {
  width: 50px; /* Adjust size as needed */
  height: 50px;
  margin-bottom: 15px; /* Adjust margin as needed */
}

h1 {
  font-size: 22px; /* Adjust font size as needed */
  margin: 15px 0; /* Adjust margin as needed */
}

p {
  font-size: 16px; /* Adjust font size as needed */
  margin: 10px 0; /* Adjust margin as needed */
}

.subscriber-status {
  color: #00ff00; /* Green color for active subscriber */
  font-weight: bold;
}

.not-subscribed {
  color: #ff0000; /* Red color for not subscribed message */
}

.subscribe-button {
  background-color: #ff424d; /* Patreon Red */
  color: white;
  border: none;
  padding: 12px 25px; /* Adjusted padding */
  font-size: 16px; /* Increased font size */
  cursor: pointer;
  display: inline-flex; /* Changed to inline-flex to center align */
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px; /* Added border radius */
  margin-top: 20px; /* Added margin to separate from text */
  text-decoration: none;
}

.subscribe-button .icon {
  width: 20px; /* Adjust the icon size */
  height: 20px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%); /* Make the icon white */
}

.alreadysubscribed {
  text-decoration: none;
  font-size: 10px; /* Adjust font size as needed */
  color: #c1c1c1;
}
